@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/path/to/your/font/Inter-Regular.woff2') format('woff2'),
    url('/path/to/your/font/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Inter', sans-serif;

}


.slide {
  scroll-snap-align: start;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}