@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.center-text {
  text-align: center;
  line-height: 80px;
  margin: 0;
  padding: 0;
}

.content {
  padding-top: 80px;
}

