.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh; /* Adjust the height as needed */
    background-color: #1a1a1a; /* Dark background color */
  }
  
  .about-content {
    color: white; /* White text color */
    text-align: left; /* Align the text to the left */
    max-width: 1200px; /* Max width of the content */
    margin: 0 auto; /* Centering the content */
  }
  
  .about-title {
    font-size: 5rem; /* Large font size for the title */
    font-weight: bold; /* Bold font weight for the title */
    margin-bottom: 2rem; /* Space below the title */
    writing-mode: vertical-rl; /* Make the title vertical */
    text-orientation: upright; /* Ensure the letters are upright */
    float: left; /* Align the title to the left */
    margin-right: 2rem; /* Space between title and description */
  }
  
  .about-description {
    font-size: 1.25rem; /* Adjust the font size as needed */
    line-height: 1.6; /* Adjust line height for readability */
    max-width: 50%; /* Adjust the width of the description */
  }
  