body {
    margin: 0;
    padding: 0;
}



.holster {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;;

}

.visio-container {
    display: flex;
    /* width: 100vw; */
    overflow: auto;
    /* outline: 1px dashed lightgray; */
    flex: none;

    /* max-width: 100vw; */
    height: 100vh;
}

.visio-container.x {
    width: 100%;
    /* height: 128px; */
    height: 100%;
    flex-flow: row nowrap;
}

.x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.x.mandatory-scroll-snapping::-webkit-scrollbar {
    display: none;
}

.visio-container>div {
    text-align: center;
    scroll-snap-align: end;
    scroll-snap-stop: always;
    flex: none;
}

.x.visio-container>div {
    /* line-height: 86vh; */
    font-size: 30%;
    width: 100%;
    height: 86vh;
    bottom: 0;
}

.visio-container>div:nth-child(even) {
    background-color: #87ea87;
}

.visio-container>div:nth-child(odd) {
    background-color: #87ccea;
}

