body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.navbar-fixed-top {
  width: 100%;
  height: 14vh;
  background-color: transparent;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  inset: 0;
  top: 0;
  z-index: 990;
  transition: background-color 20ms ease-in-out;
}


.navbar-fixed-top:not(.scrolled) {
  background-color: transparent;
  color: white;
  /* opacity: 0; */

}

.navbar-fixed-top.scrolled {
  background-color: white;
  color: #858585;
}

.footer-fixed-bottom {
  width: 100%;
  height: 1vh;
  background-color: white;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  /* inset: 0; */
  bottom: 0;
  z-index: 990;
  transition: background-color 20ms ease-in-out;

}

.cursor-pointer:hover {
  color: black;
}


.slides {
  /* flex-grow: 1; */
  scroll-snap-type: y mandatory;
  /* padding-top: 10vh !important; */
  font-size: 48px;
  font-family: 'Inter', sans-serif;

}

section {
  scroll-snap-align: start;
  scroll-margin-top: 14vh;
  scroll-snap-stop: always;
}

.page1 {
  height: 100vh;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(56, 56, 56, 0.7) url(/bg_photos/bgphoto1.jpeg) fixed center;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;

  font-size: 48px;
  font-family: 'Inter', sans-serif;
  position: relative;

  /* Additional styles for the slides */
}

.page2 {
  position: relative;
  height: 86vh;
  width: 100%;
  color: blue;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;

  font-size: 48px;
  font-family: 'Inter', sans-serif;
  /* Additional styles for the slides */
}




.page3 {
  bottom: 0%;
  height: 86vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url(/bg_photos/bgphoto4.jpeg);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  font-family: 'Inter', sans-serif;
  position: relative;
  /* background-color: rgb(219, 255, 127); */


  /* Additional styles for the slides */
}


.page4 {
  bottom: 0%;
  height: 86vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url(/bg_photos/bgphoto2.jpeg);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  font-family: 'Inter', sans-serif;
  position: relative;
  /* background-color: rgb(219, 255, 127); */


  /* Additional styles for the slides */
}

p {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  /* max-width: 75%; */
  /* padding-left: 25%; */
  vertical-align: middle;
  color: #ffffff;
}