body {
  margin: 0;
  padding: 0;
  position: fixed;
}

.navbar2 {
  width: 100%;
  height: 14vh;
  background-color: transparent;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  inset: 0;
  top: 0;
  z-index: 880;
    transition: background-color 200ms ease-in-out;

}

.black-navbar {
  background-color: red;

}

.visio-logonav
{
  display: none;
}

.holster {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.visio-container {
  display: flex;
  flex-direction: column; /* Changed to column */
  overflow: auto;
  flex: none;
  height: 100vh;
  width: 100%; /* Ensure full width */
}

.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory; /* Changed to y axis */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mandatory-scroll-snapping::-webkit-scrollbar {
  display: none;
}

.visio-container > div {
  text-align: center;
  scroll-snap-align: start; /* Changed to start for vertical alignment */
  flex: none;
  width: 100%; /* Full width */
  height: 86vh; /* Adjust height as needed */
  scroll-margin-top: 14vh;
  scroll-snap-align: start; 
  scroll-snap-stop: always;


}

.visio-container > div:first-child {
  height: 100vh; /* Adjust height as needed */
  scroll-snap-align: start; /* Changed to start for vertical alignment */
  scroll-snap-stop: always;

}

.visio-container > div:nth-child(even) {
  background-color: #ffffff;
}

.visio-container > div:nth-child(odd) {
  background-color: #000000;
}

.box {
display: flex;
align-items: center;
justify-content: center;
font-size: 100px;
color: red;
}